on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

name: test-coverage

jobs:
  test-coverage:
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v2

      - uses: r-lib/actions/setup-r@master

      - uses: r-lib/actions/setup-pandoc@v1
        with:
          pandoc-version: '2.7.3'

      - name: install gdal
        run: |
          rm '/usr/local/bin/gfortran'
          brew install pkg-config gdal proj geos sqlite-devel

      - name: Install renv
        shell: Rscript {0}
        run: |
          install.packages("renv")

      - uses: actions/cache@v2
        with:
          path: ~/Library/Application Support/renv
          key: ${{ runner.os }}-renv-${{ hashFiles('**/renv.lock') }}
          restore-keys: |
            ${{ runner.os }}-renv-

      - name: Test coverage
        shell: Rscript {0}
        run: |
          renv::restore()
          covr::codecov()

