on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

name: test-coverage

jobs:
  test-coverage:
    runs-on: macOS-latest
    steps:
      - uses: actions/checkout@v2

      - uses: r-lib/actions/setup-r@master

      - name: install rgdal
        run: |
          brew install pkg-config
          brew install gdal

      - name: Query dependencies
        run: |
          install.packages('remotes')
          saveRDS(remotes::dev_package_deps(dependencies = TRUE), ".github/depends.Rds", version = 2)

        shell: Rscript {0}

      - name: Install dependencies
        run: |
          install.packages(c("remotes"))
          remotes::install_deps(dependencies = TRUE)
          install.packages("rgdal", configure.args = c("--with-proj-lib=/usr/local/lib/", "--with-proj-include=/usr/local/include/"))
          remotes::install_github("rspatial/terra", configure.args = "--with-proj-lib=/usr/local/lib/")
          remotes::install_cran("covr")
        shell: Rscript {0}

      - name: Install rgdal from source
        if: runner.os == 'macOS'
        run: install.packages("rgdal", type = "source")
        shell: Rscript {0}

      - name: Test coverage
        run: covr::codecov()
        shell: Rscript {0}